<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="flex flex-col justify-items items-center bg-[{background_color}]/[{opacity}] w-full h-{height} gap-2 p-6 rounded-lg border-l-[{border_color}]/[{border_opacity}] border-l-8 shadow-lg {ring}">
        <div class="h-2/5">
            <h2 class="sm:text-lg md:text-sm lg:text-lg text-white">
                {metric_title}
            </h2>
        </div>
        <div class="h-3/5">
            <h2 class="font-semibold text-3xl text-white">
                {metric_value}
            </h2>
        </div>
    </div>
</body>
