<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="flex flex-row justify-items-center">
        <div class="flex items-center bg-red-950 w-[{red}%] h-10 {z-red} rounded-l-lg whitespace-nowrap">
            <h2 class="text-sm lg:text-md font-sans text-white ml-2 lg:ml-4">
                <span class="text-white/75">
                    Red Alliance
                </span> {red}%
            </h2>
        </div>
        <div class="flex flex-row-reverse items-center bg-blue-950 w-[{blue}%] h-10 {z-blue} rounded-r-lg whitespace-nowrap">
            <h2 class="text-sm lg:text-md font-sans text-white mr-2 lg:mr-4">
                <span class="text-white/75">
                    Blue Alliance
                </span> {blue}%
            </h2>
        </div>
    </div>
</body>
